* {
    margin: 0;
}

.nav-container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.433);
    align-items: center;
    margin-top: 8px;
}

.logo {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 150px;
}

.logo img {
    width: 100px;
    height: 100px;
}

ul {
    width: 650px;
    display: flex;
    list-style: none;
    font-size: 25px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: purple;
}

.contact {
    height: 100vh;
    text-align: center;
    background-image: url(https://thumbs.dreamstime.com/b/background-food-symbols-6214028.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 80px;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: rgb(81, 5, 81);
    font-size: 55px;
}

span {
    font-size: 20px;
    color: black;
    font-weight: bolder;
}

input {
    margin-top: 20px;
    width: 350px;
    height: 40px;
    border-radius: 10px;
}

input::placeholder {
    font-size: 15px;
    padding-left: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: purple;
    opacity: 0.3;
}

textarea {
    margin-top: 20px;
    border-radius: 10px;
    width: 350px;
}

textarea::placeholder {
    font-size: 15px;
    padding-left: 5px;
    padding-top: 5px;
    font-family: 'Montserrat', sans-serif;
    color: purple;
    opacity: 0.3;
}

button {
    margin-top: 20px;
    width: 350px;
    height: 40px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    background-color: purple;
    color: white;
    font-size: 15px;
}

button:hover {
    background-color: white;
    color: purple;
    cursor: pointer;
}